# for regular operation
progressbar>=2.5
importlib-metadata>=1.7 ; python_version<"3.8"
# for CI
coverage>=4.5
docformatter>=1.4
flake8>=3.8
yapf>=0.30
# for documentation
sphinx-rtd-theme>=0.4.3
# there is a weird issue with 2.1.4 that leads to a PicklingError. We just stick to 2.1.0 for now
sphinxcontrib-bibtex==2.1.0
sphinxcontrib-programoutput>=0.15
